::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgba(18, 14, 14, 0.2);
    border-radius: 25px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(18, 14, 14, 0.5);
    border-radius: 25px;
}